<ion-view class="security login">
    <flex-loading legend="{{legend}}" ng-if="!dashboard" title="{{title}}"></flex-loading>
    <div ng-if="dashboard">
        <ion-header-bar class="bar" style="background-color: #D32F2F;">
          <h1 class="title" style="text-align: center;"></h1>
        </ion-header-bar>
         <center ng-if="!isOnline" style="margin-top: 5em;">
            <div style="float: right">
              <button class="button icon ion-upload" style="background-color: #D32F2F; color: #ffffff;" ng-disabled="user.andando" ng-click="actionSincronizar('fast')"></button>
              <center>
                  Sincronizacion rapida
              </center>
             </div>
            <div style="float: left">
              <button class="button icon ion-upload" style="background-color: #D32F2F; color: #ffffff;" ng-disabled="user.andando" ng-click="actionSincronizar('slow')"></button>
            <center>
                Sincronizacion lenta
            </center>
            </div>
        </center>
          <center style="margin-top: 5em;">
            <img ng-src="bundles/css/images/logo.png" style="width: 50%;"/>
          </center>
          <div class="inputs">
              <button ng-if="user.register" class="button button-block google" style="background-color: #D32F2F; color: #ffffff;" ng-click="actionRemoveRut()">
                  <span>Rut :  {{user.rut}} </span>
                  <span>Cambiar rut</span>
                </button>

              <label class="item item-input" ng-if="!user.register">
                <input placeholder="Rut del tecnico" type="text" ng-model="user.rut">
              </label>
              <label class="item item-input">
                <input placeholder="Password del tecnico" type="password" ng-model="user.password">
              </label>
          </div>

          <div class="buttons">
            <button class="button button-block google" style="background-color: #D32F2F; color: #ffffff;" ng-click="actionLogin()">
              <i class="icon ion-locked"></i>
              <span>Ingresar</span>
            </button>
          </div>
      </div>
</ion-view>
